# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# ./src
./src/test_image/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# firebase conf
# /.firebase/
.firebaserc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.production.local

# vercel
.vercel

# functions
/functions/lib/**/*.js
/functions/lib/**/*.js.map

/functions/typings/

/functions/node_modules/

/functions/firebase-debug.log

/functions/serviceAccountKey.json


# チェック用
/pages/test.tsx

# prettier
.prettierignore
prettier.config.js

# eslint
.eslintrc.js