@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-800;
  }
  h1 {
    @apply text-2xl;
  }

  input {
    @apply border border-gray-400 rounded;
  }
}

@layer components {
  :root {
    --header-height: 45px;
    --footer-height: 50px;

    --window-vh: 1vh;
    --min-img-long-side: 1px;
    --max-img-width: 1px;
    --max-img-height: 1px;
    --img-container-width: 1px;
    --img-aspect-ratio-for-height: 1;
    --img-aspect-ratio-for-width: 1;

    --inner-main-div-height: calc((var(--window-vh) * 100) - (var(--header-height)) - (var(--footer-height)));
    --img-container-height: calc((var(--window-vh) * 100) - (var(--header-height)) - (var(--footer-height)));
    --img-adjust-width: calc(var(--img-container-width) * (3 / 4))
  }

  .t-header-height {
    @apply h-[var(--header-height)];
  }

  .t-footer-height {
    @apply h-[var(--footer-height)];
  }

  .t-main {
    @apply min-h-[var(--inner-main-div-height)] w-[90%] max-w-[1024px] mx-auto mt-[var(--header-height)];
  }

  .t-main-height {
    @apply min-h-[var(--inner-main-div-height)];
  }

  .t-loading-text {
    @apply top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%];
  }

  .t-modal-height {
    @apply fixed left-0 top-[var(--header-height)] min-h-[calc(100vh-var(--header-height))];
  }

  .t-text-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }


  /*
  * image horizontal
  */
  .t-img_conrainer_horizon-both-high {
    width: var(--max-img-width);
    height: calc(var(--max-img-width) * var(--img-aspect-ratio-for-height));
  }
  .t-img_container_horizon-width_high-height_low {
    min-width: var(--min-img-long-side);
    width: calc(var(--img-container-height) * var(--img-aspect-ratio-for-width));

    min-height: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-height));
    height: var(--img-container-height);
  }
  .t-img_container_horizon-width_low-height_high {
    width: var(--img-container-width);

    height: calc(var(--img-container-width) * var(--img-aspect-ratio-for-height));
  }
  .t-img_container_horizon-both_low-window_horizon {
    min-width: var(--min-img-long-side);
    width: calc(var(--img-container-height) * var(--img-aspect-ratio-for-width));

    min-height: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-height));
    height: var(--img-container-height);
    max-height: calc(var(--img-container-width) * var(--img-aspect-ratio-for-height));
  }
  .t-img_container_horizon-both_low-window_vertical {
    width: var(--img-container-width);
    min-width: var(--min-img-long-side);
    height: calc(var(--img-container-width) * var(--img-aspect-ratio-for-height));
    min-height: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-height))
  }

  /*
  * image vertical
  */
  .t-img_container_vertical-both_high {
    width: calc(var(--max-img-height) * var(--img-aspect-ratio-for-width));
    height: var(--max-img-height);
  }
  .t-img_container_vertical-width_high-height_low {
    min-width: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-width));
    width: calc(var(--img-container-height) * var(--img-aspect-ratio-for-width));

    min-height: var(--min-img-long-side);
    height: var(--img-container-height);
  }
  .t-img_container_vertical-width_low-window_horizon {
    min-width: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-width));
    width: calc(var(--img-container-height) * var(--img-aspect-ratio-for-width));

    min-height: var(--min-img-long-side);
    height: var(--img-container-height)
  }
  .t-img_container_vertical-width_low-window_vertical {
    width: var(--img-adjust-width);
    height: calc(var(--img-adjust-width) * var(--img-aspect-ratio-for-height));
  }


  /*
  * image vertical
  */
  .t-img-vertical-container-both-high {
    width: calc(var(--max-img-height) * var(--img-aspect-ratio-for-width));
    height: var(--max-img-height);
  }
  .t-img-vertical-container-width_high-height_low {
    min-width: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-width));
    width: calc(var(--img-container-height) * var(--img-aspect-ratio-for-width));

    min-height: var(--min-img-long-side);
    height: var(--img-container-height);
  }
  .t-img-vertical-container-width_low-window_horizon {
    min-width: calc(var(--min-img-long-side) * var(--img-aspect-ratio-for-width));
    width: calc(var(--img-container-height) * var(--img-aspect-ratio-for-width));

    min-height: var(--min-img-long-side);
    height: var(--img-container-height)
  }
  .t-img-vertical-container-width_low-window_vertical {
    width: var(--img-adjust-width);
    height: calc(var(--img-adjust-width) * var(--img-aspect-ratio-for-height));
  }

  .t-news_title {
    position: relative;
  }
  .t-news_title-base {
    position: relative;
  }
  .t-news_title-base::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 3px;
    height: 80%;
    opacity: 0;
    transition-duration: .5s;
    @apply bg-green-600;
  }
  .t-news_title::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 3px;
    height: 80%;
    opacity: 1;
    transition-duration: .5s;
    @apply bg-green-600;
  }

  .link {
    @apply text-green-600;
  }
}

@layer utilities {
  .t-under-border {
    position: relative;
  }
  .t-under-border::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: -10px;
    background-color: #c4c4c4;
    width: calc(100% + 20px);
    height: 1px;
  }

  .t-font-clamp-sm {
    font-size: clamp(12px, 2vw, 20px);
  }
}
